<form action="/main/when" method="POST">
    <div>
        <h1 class="subtitle">when will i be at this vacay</h1>
        <h4 class="description">-Fill out the nights you will be attending-</h4>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div class="calendar_div">
                <% @days.each_key do |dayId|
                    checked = ''
                    if @userNights.include? dayId
                        checked = 'checked'
                    end %>
                    <div>
                        <span>
                            <input type="checkbox" name="night_choices[]" class="day_checkboxes" value="<%=dayId%>"<%=checked%>>
                        </span>
                        <div class="daytext"><%=@days[dayId][:day]%><br><%=@days[dayId][:date]%></div>
                    </div>
                <%end%>
            </div>
            <div class="when_button">
                <input name="choices" type="submit" value="Submit Choices">
            </div>
    </div>
    <div>
        <h1 class="subtitle">when am i making dinner</h1>
        <h4 class="description"> -Choose a night to make dinner for everyone-</h4>
        <div class="calendar_div">
            <% @days.each_key do |dayId|
                checked = ''
                if @userDinners.include? dayId
                    checked = 'checked'
                end
                disabled = ''
                if @globalDinners.include? dayId
                    disabled = 'disabled'
                end %>
                <div>
                    <span>
                        <input type="checkbox" name="dinner_choices[]" class="day_checkboxes" value="<%=dayId%>"<%=checked%> <%=disabled%>>
                    </span>
                    <div class="daytext"><%=@days[dayId][:day]%><br><%=@days[dayId][:date]%></div>
                </div>
            <%end%>
        </div>
    </div>
</form>