<div class="login">
    <h1>Sign In!</h1>
    <%= form_tag 'create' %>
    <div class="signin_input">
        <%= label_tag :email %></br>
        <%= email_field_tag :email %></br>
    </div>
    <div class="signin_input">
        <%= label_tag :password %></br>
        <%= password_field_tag :password %></br>
    </div>
    <div class="signin_input">
        <%= submit_tag "Sign In" %></br>
    </div>
    <div class="signin_input">
        <a href="/users/new"><button>or create an account!</button></a>
    </div>
</div>