<!DOCTYPE html>
<html>
    <head>
      <title>Eyrie Vacay</title>
      <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="main_container">
            <div id="main_header">
            <%- if logged_in? -%>
                <p>Welcome <%= current_user.name %> (<%= current_user.email %>)</p>
                <p><%= link_to 'Log Out', logout_path %></p>
            <%- else -%>
                <div>
                    <a href="/users/new"><button>Sign Up</button></a>
                </div>
                <div>
                    <a href="/sessions/new"><button>Sign In</button></a>
                </div>
            <%- end -%>
                <div id="title">
                    <h1>EYRIE VACAY</h1>
                </div>
            <% if logged_in? %>
                <ul id="nav_bar">
                    <li>WHO</li>
                    <li>WHAT</li>
                    <li>WHEN</li>
                    <li>WHERE</li>
                    <li>WHY</li>
                    <li>HOW</li>
                </ul>
            <% end %>
            </div>
            <div id="main_body">
                <%= yield %>
            </div>
            <div>
                <%=image_tag("squidbody.png")%>
            </div>
        </div>
    </body>
</html>
