<!DOCTYPE html>
<html>
    <head>
      <title>Eyrie Vacay</title>
      <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="main_container">
            <div id="main_header">
                <div id="title">
                    <a href="/main/who">
                        <h1>EYRIE VACAY</h1>
                    </a>
                </div>
            <% if logged_in? %>
                <ul id="nav_bar">
                    <li><a href="/main/who"><div class="nav_bar_option">WHO</div></a></li>
                    <li><a href="/main/what"><div class="nav_bar_option">WHAT</div></a></li>
                    <li><a href="/main/when"><div class="nav_bar_option">WHEN</div></a></li>
                    <li><a href="/main/where"><div class="nav_bar_option">WHERE</div></a></li>
                    <li><a href="/main/why"><div class="nav_bar_option">WHY</div></a></li>
                    <li><a href="/main/how"><div class="nav_bar_option">HOW</div></a></li>
                </ul>
                <div id="clockdiv">
                    <div class="outerclock">
                        <span class="days"></span>
                        <div class="smalltext">Days</div>
                    </div>
                    <div class="outerclock">
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div class="outerclock">
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div class="outerclock">
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                    <div id="logout_container">
                        Welcome, <%= current_user.name %>!
                        <a href="/sessions/destroy"><button>Logout</button></a>
                    </div>
                </div>
            <%- end -%>
            </div>
            <hr>
            <div id="main_body">
                <%= yield %>
            </div>
            <div id="main_footer">
                <div>
                    <%=image_tag("squidbody.png", class: "logo")%>
                </div>
            </div>
        </div>
    </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
